fastapi
uvicorn
python-dotenv
redis
httpx
langchain
langchain-groq
langgraph
langchain-mcp-adapters
fastmcp
googlemaps
streamlit
httpx
audio-recorder-streamlit==0.0.10
gtts 
beautifulsoup4
streamlit_geolocation